.header{
    background-image: url('https://i.imgur.com/MfcSGXF.png')
}

.navBarSearch{
    display: inline;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #navBar{
        display: flex !important;
        flex-direction: column-reverse;
    }

    .navBarSearch{
        width: 90vw !important;
    }
    #symbol{
        width: 75vw;
    }
}