.App{
  margin: 10px;
}

.Headercustom {
  color: black;
    text-decoration: none;
    font-size: 2em;
}
.Headercustom2 {
  text-align: center; 
  padding: 10px; 
}

.ring {
  position:absolute;
  top:35%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  /* border:3px solid #3c3c3c; */
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:blue;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px blue;
  box-shadow:0 0 20px rgba(54, 6, 244, 0.5);
}
.ring:before
{
  content:'';
  position:absolute;
  left:-1px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid blue;
  border-right:3px solid blue;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loadingAnimation
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
#loadingAnimation:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:blue;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px blue;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

/* the following media query for the table on the portfolio page comes from */
/* https://css-tricks.com/responsive-data-tables/ */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .main{
    flex-direction: column-reverse !important;
    justify-content: center !important;
  }

  .gain {
    width: fit-content;
  }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hides the table headers*/
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 80%; 
	}
	
	td::before { 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(3)::before { content: "Holding"; }
	td:nth-of-type(4)::before { content: "Shares"; }
	td:nth-of-type(5)::before { content: "Cost"; }


}

.bold {
  font-weight: bold;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main h1{
  color: blue;
}

.userName{
  color: blue;
}

.myHoldings{
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90vw;
  height: fit-content;
  display: flex;
}


.marketChange {
  border-radius: 5px;
  padding: 4px;
  height:fit-content;
  width: fit-content;
  margin-left: auto;
  order: 4;
}

.stock {
  border: 1px solid black;
  padding: 50px;
  width: 40vw;
  margin: 0 auto
}

.btn a {
  color: white !important;
  text-decoration: none;
}

.card-body {
  width: fit-content;
}

.card{
  display: flex !important;
  flex-direction: row !important;
  align-items: end !important;
  /* overflow: visible !important; */
  width:98%;
  margin: 10px;
  padding: 10px;
}

#chartSm {
  display: none;
}


@media screen and (max-width:1220px) {
  .card {
    flex-direction: column !important;
    align-items: unset !important;
  }

  #chartLg {
    display: none !important;
  }

  #chartSm {
    display: block;
  }
}

.ticker {
  font-family: 'DotGothic16', sans-serif;
}

#tickerSymbol {
  font-size:large;
  font-weight: bold;
}

.negative{
  color: red;
}

.positive{
  color: #2bc20e;
}